<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Some Website</title>
  </head>
  <body>
    {{> title}}
    <p>This is where my projects are stored</p>
      {{> footer}}
  </body>
</html>
